%link{ :rel=> 'stylesheet', :type => 'text/css',  :href => '/css/browse.css' }
%ul.list
  - data.each_pair do |category, subcategories|
    %li
      .collapsable #{category}
      %ul
        - subcategories.each_pair do |subcategory, data_sets|
          %li
            .collapsable #{subcategory}
            %ul.closed
              - data_sets.each do |data_set|
                %li
                  %a{href: data_set.url} #{data_set.description}

%script{ :src => '/js/browse.js'}
