%link{ :rel=> 'stylesheet', :type => 'text/css',  :href => '/css/contact.css' }
%div.contact
  %br
  Buna!
  %br
  %br
  Pentru feedback, idei de imbunatatire sau orice alt fel de critica, folositi urmatorul email:
  %a{ :href => 'mailto:liberladate@gmail.com'} liberladate@gmail.com
  %br
  %br
  Proiectul este open source, iar codul poate fi gasit pe github la:
  %a{ :href => 'https://github.com/liberladate/ins_viz'} https://github.com/liberladate/ins_viz
- content_for(:title) do
  Vizualizarea grafica a datelor INS