%script{ :src => "//code.jquery.com/jquery-1.10.2.js"}
%link{ :rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"}
%body
  #selector
  %script{ :src => '/ins_short.js'}
  %script{ :src => '/selector.js'}
