%form.form-inline.search{method: 'GET', action: '/search'}
  %input.input-lg.form-control#name{name: 'term', placeholder: 'Exemple: populatie, inflatie, economie'}
  %button.btn.btn-lg.btn-primary#search Cauta