%link{ :rel=> 'stylesheet', :type => 'text/css',  :href => '/css/search.css' }

= haml :searchForm, :layout => false

%div
  - search_results.each do |data_set|
    %ul
      %li
        %a{href: data_set.url} #{data_set.description}


%script{ :src => '/js/search.js'}
- content_for(:title) do
  Vizualizarea grafica a datelor INS