%link{ :rel=> 'stylesheet', :type => 'text/css',  :href => '/css/search.css' }

%form.search{method: 'GET'}
  %button#search Cauta
  %input#name{name: 'term', placeholder: 'Exemple: populatie, inflatie, economie'}

%div
  - search_results.each do |data_set|
    %ul
      %li
        %a{href: data_set.url} #{data_set.description}


%script{ :src => '/js/search.js'}
