path.line {
    fill: none;
    stroke: #279ED9;
    stroke-width: 1.5px;
}

path.area {
    fill: #ABD7ED;
    fill-opacity: 0.5;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line {
    stroke: #fff;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.x.axis path {
    display: none;
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}

li {
    font-size: 16px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.big-number {
    margin-top: 5px;
    margin-left: 60px;
    font-size: 35px;
    font-family: "sans-serif";
    text-align: center;
    color: #279ED9;
}

.small-number {
    margin-top: 50px;
    margin-left: 60px;
    font-size: 20px;
    font-family: "sans-serif";
    text-align: center;
    color: #ABD7ED;
}

.loading {
    position: relative;
    top: 250px;
    left: 100px;
    font-size: 24px;
}

#select-area {
    margin-bottom: 30px;
}